/* Common Fonts Styles */
body {
     font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 20px 0 120px;
}

.btn-primary {
     font-size: 20px;
     border: 0;
     border-radius: 5px;
     padding: 10px 20px;
     background-color: #ffda06;
     color: rgb(54, 51, 51);
}

.Title {
     color: #181818;
     font-size: 45px;
     font-weight: 800;

}

.m {
     color: rgb(241, 176, 56);
}

nav>ul {
     display: flex;

}

nav li {
     list-style: none;
     margin: 12px;

}

nav a {
     text-decoration: none;
}

.header {
     background-color: #fef2e9;
     background-image: url("../images/111.png");
     background-repeat: no-repeat;
     background-position: bottom right;
     background-size: 800px 650px;


}

.banner {
     padding: 30px 30px 30px 150px;
     display: flex;
     justify-content: space-around;
     align-items: center;

}

.profile {
     width: 500px;
     height: 600px;
     border: 1px;
     border-radius: 50%;
     position: bottom right;

}

.banner-content {
     width: 400px;
     height: 400px;
}

/* main section styles */

/* about section styles */
.about {
     padding: 100px;
     background-color: #fef2e9;
     margin: 80px 0;
}

.section-title {
     color: #000000;
     text-align: center;
     font-size: 35px;
     font-weight: 700;
     font-size: 18px;
}

.section-discription {
     color: #181818;
     text-align: center;
     font-size: 22px;
}